@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
    --mainColor : linear-gradient(to top right,rgb(6, 2, 233),rgb(0, 112, 240))
}
*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
    color: rgb(0, 0, 0);
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 255, 255);
    display: flex;
    overflow: auto;
    height: 100vh ;
}
.img-div {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: solid 3px rgb(50, 81, 253);
    padding : 2px;
    flex-shrink: 0;
}
.img-div img {
    width: 100%;
    border-radius: 50%;
}
.profile {
    display: flex;
    align-items: center;
    gap: 30px;
    padding : 10px;
}
.profile h2 {
    text-wrap: nowrap;
}
.dashboard {
    flex-basis : 70px;
    height : 100vh;
    box-shadow: 1px 0px 6px 3px rgb(185, 185, 185) ;
    overflow: hidden;
    transition: 0.5s;
}
.dashboard:hover {
    flex-basis : 260px
}
ul {
    list-style: none;
    height : 100%;
    position: relative;
}
.log-out {
    position: absolute;
    bottom : 0;
    width: 100%;
}
ul li a { 
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap : 45px;
    position: relative;
}
ul li a:not(.logout)::before {
    content:'';
    position: absolute;
    bottom : 0;
    left : 0;
    width : 0%;
    height : 100%;
    z-index: -1;
    background-image: var(--mainColor);
    transition: 0.3s;
}
ul li a i:not(#logout) {
    font-size: 32px;
    background-image : var(--mainColor);
    background-clip: text;
    color : transparent
}
#logout {
    font-size: 32px;
    background-image :linear-gradient(to top right,rgb(252, 0, 96),rgb(219, 6, 88));
    background-clip: text;
    color : transparent
}
ul li a:hover::before{
    width: 100%;
}
ul li a:hover i:not(#logout), ul li a:hover p {
    color: white;
}
ul li .logout:hover #logout {
    color: white;
}
ul li .logout::before {
    content:'';
    position: absolute;
    bottom : 0;
    left : 0;
    width : 0%;
    height : 100%;
    z-index: -1;
    background-image: linear-gradient(to top right,rgb(252, 0, 96),rgb(219, 6, 88));
    transition: 0.3s;
}
ul li a p {font-size: 18px;font-weight: 500;letter-spacing: 1.5px;text-wrap: nowrap;}
.content {
    flex-basis : 40%;
    flex-grow: 1;
    height : 100vh;
    margin : 0px 10px
}
.title {
    width : 100%;
    display: flex;
    justify-content: space-between;
    background-image: var(--mainColor);
    border-radius: 8px;
    padding : 10px;
    margin: 20px auto 20px auto;
}
.title p , .title i {
    color: white;
}
.boxes {
    width : 100%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    gap : 10px
}
.box {
    flex-basis : 180px;
    flex-shrink: 0;
    flex-grow: 1;
    border-radius: 8px;
    height : 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box-1 {background-image: var(--mainColor);}
.box-2 {background-image: linear-gradient(to top right,rgb(255, 208, 0),rgb(255, 241, 49));}
.box-3 {background-image: linear-gradient(to top right,rgb(255, 0, 55),rgb(255, 0, 119));}
.box-4 {background-image: linear-gradient(to top right,rgb(0, 255, 106),rgb(0, 255, 191));}
.box:not(.box-2,.box-4) i {
font-size: 50px;
color: white;
}
.box:not(.box-1,.box-3) i {
font-size: 50px;
color: rgb(0, 0, 0);
}
.box .data {
text-align: center;
}
.box:not(.box-2,.box-4) .data span {
    font-size: 32px;
    color: white;
}
.box:not(.box-2,.box-4) .data p { color : White}
.box:not(.box-1,.box-3) .data span {
    font-size: 32px;
    color: rgb(0, 0, 0);
}
.box:not(.box-1,.box-3) .data p { color : rgb(0, 0, 0)}
table {
    width: 100%;
    height : 200px;
    border-spacing: 10px;
    }
    table thead th {
        height : 38px;
        border-radius: 8px;
        }
        .th1 { background-image: var(--mainColor); color : white}
        .th2 { background-image: linear-gradient(to top right,rgb(0, 255, 106),rgb(0, 255, 191)) }
        .th3 { background-image: linear-gradient(to top right,rgb(255, 208, 0),rgb(255, 241, 49)); }
    table tbody tr {
        height : 38px;
    }
    table tbody tr td { 
        border-radius: 8px;
        text-align: center;
        background-color: rgb(235, 235, 235);
    } 
    .ptd { background-image: linear-gradient(to top right,rgb(0, 255, 106),rgb(0, 255, 191)) ; padding: 6px;border-radius: 8px;}
    .ctd { background-image: linear-gradient(to top right,rgb(255, 208, 0),rgb(255, 241, 49)); padding: 6px;border-radius: 8px;}